@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Red Hat Display', sans-serif;
}

html {
	background: linear-gradient(to bottom right,#032a5e, #05ccb1);
	font-size: 16px;
	text-align: center;
	min-height: 100%;
}

.container {
	margin: 100px auto 0;
	max-width: 720px;
	width: 80%;
}

/* time display */

.stopwatch {
	background-color: rgba(255,255,255,0.25);
	border-radius: 1.5rem;
	box-shadow: 6px 12px 24px rgba(0,0,0,0.05);
	padding: 3rem;
}

	.display {
		background-color: rgba(0,0,0,0.15);
		border-radius: 1rem;
		padding: 1rem;
	}

	#time {
		color: #fff;
		font-size: 5rem;
	}

	/* buttons */

	.button-list {
		display: flex;
		gap: 2rem;
		margin: 2rem 0 0;
	}

	.button {
		border: none;
		border-radius: 0.5rem;
		color: #fff;
		flex: 1;
		font-size: 1.25rem;
		font-weight: 700;
		letter-spacing: 0.2rem;
		padding: 1rem;
		text-transform: uppercase;
		transition: all ease .1s;
	}

		.button:hover {
			cursor: pointer;
		}

		.start-btn {
			background-color: rgb(0, 173, 0);
		}

		.pause-btn {
			background-color: #666;
		}

		.addlap-btn {
			background-color: #032a5e;
		}

		.stop-btn {
			background-color: #e90000;
		}